body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

h2 {
    text-align: center;
}

.container {
    width: 350px;
    background: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 92%; 
    padding: 8px;
    margin: 5px;
}

label {
    margin-top: 10px;
    display: block;
}

.error {
    color: red;
    font-size: 13px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: black;
}
