body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #191919;
    color: white;
    text-align: center;
    padding: 5px;
    z-index: 1000;
}

.sticky-bar {
    position: sticky;
    width: 100%;
    top: 90px;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    font-weight: bold;
    cursor: pointer;

}

.sticky-bar span {
    padding: 20px;
}

.content {
    margin-top: 120px;
    margin-bottom: 60px;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 220px;
    border: 2px solid #ccc;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 5px;
    display: none;
}

.image-box:hover .overlay {
    display: block;
}

.footer {
    position:static;
    bottom:0;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 10px;
}
