body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 350px;
    background: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.input-box input, button {
    padding: 8px;
}
.input-box button {
    background: yellow;
    color: red;
}

.filters {
    margin-top: 10px;
}

.filters button {
    margin-right: 5px;
    padding: 5px 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background: #eee;
    padding: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}